/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* main */
html {
  min-height: 100vh; /* sticky footer */
  scroll-behavior: smooth;
}

body {
  min-height: 100vh; /* sticky footer */
  display: flex; /* sticky footer */
  flex-direction: column; /* sticky footer */
  color: black;
  text-rendering: optimizeSpeed;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body > * {
  flex-shrink: 0; /* sticky footer */
}

body.active {
  overflow: hidden;
}

/* if this sections will position:relative */
/* section,
header,
main,
footer{
   position: relative;
   overflow: hidden;
} */
/* Grid styles */
.container {
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Utility */
.none {
  display: none !important;
}

.visually-hidden {
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

/* turn off yellow background for input */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid #8f8d8d;
  -webkit-text-fill-color: #161616;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

/* Sticky Footer */
.footer {
  margin-top: auto; /* sticky footer */
}

/* media adaptive for examples */
/* Tablet */
/* @media (max-width: 1199px) {
   width: 900px;
} */
/* Mobile */
/* @media (max-width: 899px) {
   width: 768px;
} */
/* Mobile XS */
/* @media (max-width: 767px) {
   width: 320px;
}  */
/* Utility */
.none {
  display: none !important;
}

.visually-hidden {
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

/* off yellow background input */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid #8f8d8d;
  -webkit-text-fill-color: #161616;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

/* Sticky Footer */
.footer {
  margin-top: auto; /* sticky footer */
}

body.green .header {
  background-color: #007F60;
}
body.green .theme {
  background-color: #52A66F;
}
body.green .submit-btn {
  background-color: #007F60;
}
body.green .first-part {
  fill: #A0FFD1;
}
body.green .second-part {
  fill: #007F60;
}
body.green .color-mode__list {
  background-color: #52A66F;
}
body.green .color-mode__btn:active {
  box-shadow: 0px 0px 0px 3px #1ee062;
}
body.green .submit-btn:hover {
  border-color: #007F60;
  background-color: #ffffff;
  color: #007F60;
}
body.green .night-mode {
  background-color: #007F60;
}
body.green .note__action-btn--save {
  background-color: #007F60;
}

body.green.dark-mode .submit-btn:hover {
  border-color: #007F60;
  background-color: #353535;
  color: #007F60;
}

body.yellow .header {
  background-color: rgb(255, 174, 0);
}
body.yellow .theme {
  background-color: rgb(255, 205, 69);
}
body.yellow .submit-btn {
  background-color: rgb(255, 174, 0);
}
body.yellow .first-part {
  fill: #FFDE9E;
}
body.yellow .second-part {
  fill: rgb(255, 174, 0);
}
body.yellow .color-mode__list {
  background-color: rgb(255, 205, 69);
}
body.yellow .color-mode__btn:active {
  box-shadow: 0px 0px 0px 3px #ffcc25;
}
body.yellow .submit-btn:hover {
  border-color: rgb(255, 174, 0);
  background-color: #ffffff;
  color: rgb(255, 174, 0);
}
body.yellow .night-mode {
  background-color: rgb(255, 174, 0);
}
body.yellow .note__action-btn--save {
  background-color: rgb(255, 174, 0);
}

body.yellow.dark-mode .submit-btn:hover {
  border-color: rgb(255, 174, 0);
  background-color: #353535;
  color: rgb(255, 174, 0);
}

body.purple .header {
  background-color: #8e2fa6;
}
body.purple .theme {
  background-color: #b260ff;
}
body.purple .submit-btn {
  background-color: #8e2fa6;
}
body.purple .first-part {
  fill: #E0B8FF;
}
body.purple .second-part {
  fill: #8e2fa6;
}
body.purple .color-mode__list {
  background-color: #b260ff;
}
body.purple .color-mode__btn:active {
  box-shadow: 0px 0px 0px 3px #9f39ff;
}
body.purple .submit-btn:hover {
  border-color: #8e2fa6;
  background-color: #ffffff;
  color: #8e2fa6;
}
body.purple .night-mode {
  background-color: #8e2fa6;
}
body.purple .note__action-btn--save {
  background-color: #8e2fa6;
}

body.purple.dark-mode .submit-btn:hover {
  border-color: #8e2fa6;
  background-color: #353535;
  color: #8e2fa6;
}

body.blue .header {
  background-color: #2a46ff;
}
body.blue .theme {
  background-color: #3284ff;
}
body.blue .submit-btn {
  background-color: #2a46ff;
}
body.blue .first-part {
  fill: #A7C0FF;
}
body.blue .second-part {
  fill: #2a46ff;
}
body.blue .color-mode__list {
  background-color: #3284ff;
}
body.blue .color-mode__btn:active {
  box-shadow: 0px 0px 0px 3px #5599ff;
}
body.blue .submit-btn:hover {
  border-color: #2a46ff;
  background-color: #ffffff;
  color: #2a46ff;
}
body.blue .night-mode {
  background-color: #2a46ff;
}
body.blue .note__action-btn--save {
  background-color: #2a46ff;
}

body.blue.dark-mode .submit-btn:hover {
  border-color: #2a46ff;
  background-color: #353535;
  color: #2a46ff;
}

body.red .header {
  background-color: #ab3333;
}
body.red .theme {
  background-color: #fc7c7c;
}
body.red .submit-btn {
  background-color: #ab3333;
}
body.red .first-part {
  fill: #FFA4A4;
}
body.red .second-part {
  fill: #ab3333;
}
body.red .color-mode__list {
  background-color: #fc7c7c;
}
body.red .color-mode__btn:active {
  box-shadow: 0px 0px 0px 3px #ff4545;
}
body.red .submit-btn:hover {
  border-color: #ab3333;
  background-color: #ffffff;
  color: #ab3333;
}
body.red .night-mode {
  background-color: #ab3333;
}
body.red .note__action-btn--save {
  background-color: #ab3333;
}

body.red.dark-mode .submit-btn:hover {
  border-color: #ab3333;
  background-color: #353535;
  color: #ab3333;
}

body.dark-mode {
  background-color: #353535;
}
body.dark-mode .input {
  background-color: #4a4a4a;
  color: #f0e3ca;
}
body.dark-mode .note {
  background-color: #4a4a4a;
}

.header {
  padding-top: 3.5px;
  padding-bottom: 10px;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 71px;
  height: 71px;
}

.input {
  padding-left: 5px;
  padding-right: 5px;
  max-width: 476px;
  width: 100%;
  max-height: 46px;
  background-color: #d9d9d9;
  border-radius: 10px;
  font-size: 2rem;
  font-family: sans-serif;
}
.input--search {
  padding-right: 40px;
}
.input--search::-webkit-search-decoration, .input--search::-webkit-search-cancel-button, .input--search::-webkit-search-results-button, .input--search::-webkit-search-results-decoration {
  display: none;
}
.input {
  position: relative;
}
.input:before {
  content: "";
  display: inline-block;
  width: 110%;
  height: 110%;
  border: 2px red solid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.input:focus:before {
  border-color: #00e868;
}

.theme {
  display: flex;
  align-items: center;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
  padding: 8px 28px;
  border-radius: 10px;
  position: relative;
  min-width: 150px;
}

.night-mode {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: transparent;
}

.color-mode__btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: transform 0.5s;
}
.color-mode__btn:hover {
  transform: rotate(180deg);
}

.color-mode__list {
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  top: -350%;
  right: 25px;
  opacity: 0;
  transition: 500ms;
}
.color-mode__list.open {
  top: 90px;
  opacity: 1;
}

.color-mode__item {
  max-width: 30px;
  max-height: 30px;
  transition: transform 0.5s;
}
.color-mode__item:hover {
  transform: rotate(360deg);
}
.color-mode__item:not(:last-child) {
  margin-bottom: 5px;
}

.color-mode__choose-btn {
  background-color: transparent;
}

.svg-icon {
  width: 66px;
  height: 66px;
  padding-top: px;
  padding-bottom: px;
}

.add-note {
  padding: 50px 0px;
}

.input--add {
  position: absolute;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 110px;
}

.submit-btn {
  border: 2px solid transparent;
  padding: 7px 30px;
  border-radius: 10px;
  font-weight: 900;
  font-size: 1.3em;
  color: white;
  font-family: sans-serif;
  position: absolute;
  right: 0;
  transition: 0.5s;
}

.add-note__form {
  margin: 0 auto;
  position: relative;
  max-width: 476px;
}

.notes {
  padding-top: 50px;
}

.note {
  min-height: 70px;
  background-color: #d9d9d9;
  max-width: 80%;
  margin: 0 auto;
}

.note__header {
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note__heading {
  align-self: center;
  min-height: auto;
  width: 100%;
  padding: 0 10px;
}

.star-svg {
  fill: #A4A4A4;
}

.note__icon-star {
  width: 45px;
  height: 45px;
  background-color: transparent;
}
.note__icon-star--filter {
  width: 35px;
  height: 35px;
  position: absolute;
  right: 10px;
}
.note__icon-star.active .star-svg {
  fill: rgb(254, 174, 0);
}

.note__main-list-control {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.note-filter {
  display: flex;
  position: relative;
  width: 476px;
  transform: translateX(40px);
}

.note__text {
  background-color: transparent;
  font-weight: 500;
  font-size: 1.7em;
  width: 100%;
  min-height: 70px;
  resize: none;
}
.note__text.view {
  height: 400px;
}

.trash-btn {
  background-color: rgb(255, 113, 113);
  padding: 18px 15px;
  transition: 500ms;
}
.trash-btn:hover {
  background-color: #AC0000;
}
.trash-btn:hover .trash-svg {
  fill: white;
}
.trash-btn:active {
  background-color: #6f0000;
  transition: 0ms;
}

.trash-svg {
  width: 30px;
  height: 30px;
  fill: #000;
  transition: 500ms;
}

.redactor-btn {
  padding: 9px 9px;
  width: 50px;
  height: 50px;
  border-radius: 13%;
  background-color: transparent;
  transition: 400ms;
}
.redactor-btn:hover {
  background-color: #ffcc25;
}
.redactor-btn:active {
  background-color: rgb(246, 193, 0);
}

.redactor-svg {
  fill: #434343;
}

.note.open .note__redact-list-control {
  display: flex;
  justify-content: end;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
}
.note.open .note__action-btn {
  padding: 5px 10px;
  font-family: sans-serif;
  font-weight: 900;
  font-size: 1.25rem;
  border-radius: 4px;
}
.note.open .note__action-btn--save {
  color: white;
}
.note.open .note__action-btn--cancel {
  color: black;
}
.note.open .note__footer {
  padding-bottom: 20px;
  padding-right: 20px;
}/*# sourceMappingURL=main.css.map */