.add-note {
    padding: 50px 0px;
}
.container {
}
.add-note__content {
}
.input--add {
    position: absolute;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 110px;
}
.submit-btn {
    border: 2px solid transparent;
    padding: 7px 30px;
    border-radius: 10px;
    font-weight: 900;
    font-size: 1.3em;
    color: white;
    font-family: sans-serif;
    position: absolute;
    right: 0;
    transition: 0.5s; 

}
.add-note__form{
    margin: 0 auto;
    position: relative;
    max-width: 476px;
}