.header {
    background-color: $headerBgDefault;
    padding-top: 3.5px;
    padding-bottom: 10px;
}
.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 71px;
    height: 71px;
}
.input{
    padding-left: 5px;
    padding-right: 5px;
    max-width: 476px;
    width: 100%;
    max-height: 46px;
    background-color: $bgElementDefault;
    border-radius: 10px;
    font-size: 2rem;
    font-family: sans-serif;

    &--search{
        transform: translateX(40px)
    }

    @include focus-element;
}
.theme {
    display: flex;
    align-items: center;
    column-gap: 1.25rem;
    background-color: #52A66F;
    padding: 8px 28px;
    border-radius: 10px;
    position: relative;
    min-width: 150px;
}
.theme__item {
}
.night-mode {
    width: 33px;
    height: 33px;
    background-color: rgb(0, 38, 108);
    border-radius: 50%;
}
.color-mode {
    
}
.color-mode__btn {
    width: 40px;
    height: 40px;
    background-color: rgb(0, 76, 218);
    border-radius: 50%;

    @include hover-element(180deg);
    @include active-element;
}
.color-mode__list {
    background-color: $contextGreen;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: -350%;
    right: 25px;
    opacity: 0;
    transition: 500ms;

    &.open{
        top: 90px;
        opacity: 1;
    }
    }
.color-mode__item {
    max-width: 30px;
    max-height: 30px;
    @include hover-element(360deg);

&:not(:last-child){
    margin-bottom: 5px;
}
}
.color-mode__choose-btn {
    background-color: transparent;
}

.svg-icon{
    width: 66px;
    height: 66px;
    padding-top: px;
    padding-bottom: px;
}