.notes {
    padding-top: 50px;
}

.note {
    min-height: 70px; 
    background-color: $bgElementDefault;
    max-width: 80%;
    margin: 0 auto;
}

.note__header{
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note__heading{
    align-self: center;
    min-height: auto;
    width: 100%;
    padding: 0 10px;
}

.star-svg {
    fill: #A4A4A4;
}

.note__icon-star{
    width: 45px;
    height: 45px;
    background-color: transparent;
    

    &--filter{
        width: 35px;
        height: 35px;
        position: absolute;
        right: 10px;
    }

    &.active{
        .star-svg{
            fill: $starActiveColor;
        }
    }

}

.note__main-list-control{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.note-filter{
    display: flex;
    position: relative;
    width: 476px;
    transform: translateX(40px);
}

.note__text {
    background-color: transparent;
    font-weight: 500;
    font-size: 1.7em;
    width: 100%;
    min-height: 70px;
    resize: none;

    &.view{
        height: 400px;
    }
}

.trash-btn{
    background-color: rgb(255, 113, 113);
    padding: 18px 15px;
    transition: 500ms;
    @include hover-trash-btn;
    @include active-trash-btn;
}

.trash-svg{
    width: 30px;
    height: 30px;
    fill: #000;
    transition: 500ms;
}

.redactor-btn {
    padding: 9px 9px;
    width: 50px;
    height: 50px;
    border-radius: 13%;
    background-color: transparent;
    transition: 400ms;
    
    &:hover{
        background-color: #ffcc25;
    }

    &:active{
        background-color: rgb(246, 193, 0);
    }
}

.redactor-svg {
    fill: #434343;
}
.note.open{
    .note__body {
    }
    .note__text {
    }
    .note__redact-list-control {
        display: flex;
        justify-content: end;
        column-gap: 1.25rem;
    }
    .note__action-btn {
        padding: 5px 10px;
        font-family: sans-serif;
        font-weight: 900;
        font-size: 1.25rem;
        border-radius: 4px;
        transition: 500ms;
    }
    .note__action-btn--save {
        color: white;
    }
    .note__action-btn--cancel {
        color: black;
    }
    .note__footer{
        padding-bottom: 20px;
        padding-right: 20px;
    }
}