.notes {
    padding-top: 50px;
}
.container {
}
.notes__content {
}
.notes__list {
}
.note {
    min-height: 70px; 
    background-color: $bgElementDefault;
    max-width: 80%;
    margin: 0 auto;
    // padding-top: 25px;
    // padding-bottom: 25px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.star-svg {
    width: 45px;
    height: 45px;
}
.note__text {
    background-color: transparent;
    font-weight: 500;
    font-size: 1.7em;
    max-width: 70%;
    width: 100%;
    min-height: 70px;
    resize: none;
}

.trash-btn{
    background-color: rgb(255, 113, 113);
    padding: 18px 15px;
    transition: 500ms;
    @include hover-trash-btn;
    @include active-trash-btn;
}

.trash-svg{
    width: 30px;
    height: 30px;
    fill: #000;
    transition: 500ms;
}