@mixin hover-element($deg){
    transition: transform 0.5s;
    &:hover{
        transform: rotate($deg);
    }
}

@mixin active-element($color){
    &:active{
        box-shadow: 0px 0px 0px 3px $color;
    }
}

@mixin focus-element{
    &{
        position: relative;
    }

    &:before{
        content: '';
        display: inline-block;
        width: 110%;
        height: 110%;
        border: 2px red solid;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &:focus{
        &:before{
            border-color: #00e868;  
        }
    }
}

@mixin hover-add-btn($colorBorder, $colorText, $bgColor){
    &:hover{
        border-color: $colorBorder;
        background-color: $bgColor;
        color: $colorText;
    }
}

@mixin hover-trash-btn{
    &:hover{
        background-color: #AC0000;
        .trash-svg{
            fill: white;
        }
    }
}

@mixin active-trash-btn{
    &:active{
        background-color: #6f0000;
        transition: 0ms;
    }
}