// body green theme

body.green{

    .header{
        background-color: $headerBgDefault;
    }

    .theme{
        background-color: $contextGreen;
    }

    .submit-btn{
        background-color: $headerBgDefault;
    }

    .first-part{
        fill: $backgroundColorDefault;
    }

    .second-part{
        fill: $headerBgDefault;
    }

    .color-mode__list{
        background-color: $contextGreen;
    }

    .color-mode__btn{
        @include active-element($shadowGreen);
    }

    .submit-btn{
        @include hover-add-btn($headerBgDefault, $headerBgDefault)
    }

    .night-mode{
        background-color: $headerBgDefault;
    }
}

// body yellow theme

body.yellow{

    .header{
        background-color: $headerBgYellow;
    }

    .theme{
        background-color: $contextYellow;
    }

    .submit-btn{
        background-color: $headerBgYellow;
    }

    .first-part{
        fill: $backgroundColorYellow;
    }

    .second-part{
        fill: $headerBgYellow;
    }

    .color-mode__list{
        background-color: $contextYellow;
    }

    .color-mode__btn{
        @include active-element(#ffcc25);
    }

    .submit-btn{
        @include hover-add-btn($headerBgYellow, $headerBgYellow)
    }

    .night-mode{
        background-color: $headerBgYellow;
    }
}


// body purple theme

body.purple{

    .header{
        background-color: $headerBgPurple;
    }

    .theme{
        background-color: $contextPurple;
    }

    .submit-btn{
        background-color: $headerBgPurple;
    }

    .first-part{
        fill: $backgroundColorPurple;
    }

    .second-part{
        fill: $headerBgPurple;
    }

    .color-mode__list{
        background-color: $contextPurple;
    }

    .color-mode__btn{
        @include active-element($shadowPurple);
    }

    .submit-btn{
        @include hover-add-btn($headerBgPurple, $headerBgPurple)
    }

    .night-mode{
        background-color: $headerBgPurple;
    }
}

// body blue theme

body.blue{

    .header{
        background-color: $headerBgBlue;
    }

    .theme{
        background-color: $contextBlue;
    }

    .submit-btn{
        background-color: $headerBgBlue;
    }
    .first-part{
        fill: $backgroundColorBlue;
    }

    .second-part{
        fill: $headerBgBlue;
    }

    .color-mode__list{
        background-color: $contextBlue;
    }

    .color-mode__btn{
        @include active-element($shadowBlue);
    }

    .submit-btn{
        @include hover-add-btn($headerBgBlue, $headerBgBlue)
    }

    .night-mode{
        background-color: $headerBgBlue;
    }
}

// body red theme

body.red{

    .header{
        background-color: $headerBgRed;
    }

    .theme{
        background-color: $contextRed;
    }

    .submit-btn{
        background-color: $headerBgRed;
    }
    .first-part{
        fill: $backgroundColorRed;
    }

    .second-part{
        fill: $headerBgRed;
    }

    .color-mode__list{
        background-color: $contextRed;
    }

    .color-mode__btn{
        @include active-element($shadowRed);
    }

    .submit-btn{
        @include hover-add-btn($headerBgRed, $headerBgRed)
    }

    .night-mode{
        background-color: $headerBgRed;
    }
}





// NIGHT MODE

body.dark-mode{
    background-color: #2a2926;
    
    .input{
        background-color: #474541;
        color: #f0e3ca;
    }
    .note{
        background-color: #474541;
    }
}