// body green theme

body.green{

    .header{
        background-color: $headerBgDefault;
    }

    .theme{
        background-color: $contextGreen;
    }

    .submit-btn{
        background-color: $headerBgDefault;
    }

    .first-part{
        fill: $backgroundColorDefault;
    }

    .second-part{
        fill: $headerBgDefault;
    }

    .color-mode__list{
        background-color: $contextGreen;
    }

    .color-mode__btn{
        @include active-element($shadowGreen);
    }

    .submit-btn{
        @include hover-add-btn($headerBgDefault, $headerBgDefault, $bgLightBodyColor)
    }

    .night-mode{
        background-color: $headerBgDefault;
    }
}

body.green.dark-mode{
    .submit-btn{
        @include hover-add-btn($headerBgDefault, $headerBgDefault, $darkModeBackground)
    }
}

// body yellow theme

body.yellow{

    .header{
        background-color: $headerBgYellow;
    }

    .theme{
        background-color: $contextYellow;
    }

    .submit-btn{
        background-color: $headerBgYellow;
    }

    .first-part{
        fill: $backgroundColorYellow;
    }

    .second-part{
        fill: $headerBgYellow;
    }

    .color-mode__list{
        background-color: $contextYellow;
    }

    .color-mode__btn{
        @include active-element(#ffcc25);
    }

    .submit-btn{
        @include hover-add-btn($headerBgYellow, $headerBgYellow, $bgLightBodyColor)
    }

    .night-mode{
        background-color: $headerBgYellow;
    }
}

body.yellow.dark-mode{
    .submit-btn{
        @include hover-add-btn($headerBgYellow, $headerBgYellow, $darkModeBackground)
    }
}

// body purple theme

body.purple{

    .header{
        background-color: $headerBgPurple;
    }

    .theme{
        background-color: $contextPurple;
    }

    .submit-btn{
        background-color: $headerBgPurple;
    }

    .first-part{
        fill: $backgroundColorPurple;
    }

    .second-part{
        fill: $headerBgPurple;
    }

    .color-mode__list{
        background-color: $contextPurple;
    }

    .color-mode__btn{
        @include active-element($shadowPurple);
    }

    .submit-btn{
        @include hover-add-btn($headerBgPurple, $headerBgPurple, $bgLightBodyColor)
    }

    .night-mode{
        background-color: $headerBgPurple;
    }
}

body.purple.dark-mode{
    .submit-btn{
        @include hover-add-btn($headerBgPurple, $headerBgPurple, $darkModeBackground)
    }
}

// body blue theme

body.blue{

    .header{
        background-color: $headerBgBlue;
    }

    .theme{
        background-color: $contextBlue;
    }

    .submit-btn{
        background-color: $headerBgBlue;
    }
    .first-part{
        fill: $backgroundColorBlue;
    }

    .second-part{
        fill: $headerBgBlue;
    }

    .color-mode__list{
        background-color: $contextBlue;
    }

    .color-mode__btn{
        @include active-element($shadowBlue);
    }

    .submit-btn{
        @include hover-add-btn($headerBgBlue, $headerBgBlue, $bgLightBodyColor)
    }

    .night-mode{
        background-color: $headerBgBlue;
    }
}

body.blue.dark-mode{
    .submit-btn{
        @include hover-add-btn($headerBgBlue, $headerBgBlue, $darkModeBackground)
    }
}

// body red theme

body.red{

    .header{
        background-color: $headerBgRed;
    }

    .theme{
        background-color: $contextRed;
    }

    .submit-btn{
        background-color: $headerBgRed;
    }
    .first-part{
        fill: $backgroundColorRed;
    }

    .second-part{
        fill: $headerBgRed;
    }

    .color-mode__list{
        background-color: $contextRed;
    }

    .color-mode__btn{
        @include active-element($shadowRed);
    }

    .submit-btn{
        @include hover-add-btn($headerBgRed, $headerBgRed, $bgLightBodyColor)
    }

    .night-mode{
        background-color: $headerBgRed;
    }
}

body.red.dark-mode{
    .submit-btn{
        @include hover-add-btn($headerBgRed, $headerBgRed, $darkModeBackground)
    }
}



// NIGHT MODE

body.dark-mode{
    background-color: $darkModeBackground;
    
    .input{
        background-color: $darkModeInputColor;
        color: $darkModeTextColor;
    }
    .note{
        background-color: $darkModeInputColor;
    }
}