// green part
$headerBgDefault: #007F60;
$backgroundColorDefault: #daffee;
$contextGreen: #52A66F;
$bgElementDefault: #d9d9d9;

// yellow part

$headerBgYellow: rgb(255, 211, 37);
$backgroundColorYellow:#FFE9BD;
$contextYellow: #ffe278;
// $bgElementYellow: ;

// purple part

$headerBgPurple: #761dba;
$backgroundColorPurple: #EFDAFF;
$contextPurple: #b260ff;
// $bgElementPurple: ;

// blue part

$headerBgBlue: #2a46ff;
$backgroundColorBlue: #CFDDFF;
$contextBlue: #5599ff;
// $bgElementBlue: ;

// red part

$headerBgRed: #ab3333;
$backgroundColorRed: #FFC5C5;
$contextRed: #fc7c7c;
// $bgElementRed: ;