// green part
$headerBgDefault: #007F60;
$backgroundColorDefault: #A0FFD1;
$contextGreen: #52A66F;
$shadowGreen: #1ee062;
$bgElementDefault: #d9d9d9;

// yellow part

$headerBgYellow: rgb(255, 211, 37);
$backgroundColorYellow:#FFDE9E;
$contextYellow: #ffe278;
$shadowYellow: #ffcc25;

// $bgElementYellow: ;

// purple part

$headerBgPurple: #761dba;
$backgroundColorPurple: #E0B8FF;
$contextPurple: #b260ff;
$shadowPurple: #9f39ff;

// $bgElementPurple: ;

// blue part

$headerBgBlue: #2a46ff;
$backgroundColorBlue: #A7C0FF;
$contextBlue: #3284ff;
$shadowBlue: #5599ff;
// $bgElementBlue: ;

// red part

$headerBgRed: #ab3333;
$backgroundColorRed: #FFA4A4;
$contextRed: #fc7c7c;
$shadowRed: #ff4545;
// $bgElementRed: ;